<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/m1kc3b/rust-on-esp32">Rust on ESP32</a></strong>
			- Bare metal programing with Rust on an ESP32 (no_std, esp-idf and async/await).
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/m1kc3b/code-breaker">Code breaker</a></strong>
			- Rust CLI Game inspired by Wordle and Mastermind.
		</h5>
    	<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/m1kc3b/mariocoin">Mario Coin</a></strong>
			- MarioCoin 🪙 is a crypto build with Rust 🦀 (from scratch, without any framework) in an educational perspective.
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://github.com/m1kc3b/nodejs-ai-assistant">Nodejs AI Assistant</a></strong>
			- This project is an example of how to implements a RAG Architecture with LangChain.js and GPT-3.5-turbo to answer any question about the book "Node.js Design Patterns".
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://github.com/m1kc3b/ResumePDF">Resume PDF</a></strong>
			- Summarize, in French, any PDF file, regardless of its size or language. This AI, built with LangChain.js, is based on GPT-3.5-turbo.
		</h5>
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="https://github.com/m1kc3b/gasp-cli">Gasp Cli</a></strong>
			- A CLI to build a Google Apps Script Project Locally.
		</h5>
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="https://github.com/m1kc3b/mowitnow">Mow it Now</a></strong>
			- Rust implementation for the MowItNow exercise.
		</h5>


    </div>
  </div>
</div>
</section>
