<section id="resume">
  <div class="container">
    <h3>Resume</h3>
    <div class="panel panel-default">
      <div class="panel-body">
        <h4>EMPLOYMENT</h4>
        
        <div>
          <h5>Software Developer</h5>
          <p>Carrefour BE</p>
          <p>Development of an expense report entry application.</p>
        </div>
        
        <div>
          <h5>Software Developer</h5>
          <p>DALKIA</p>
          <p>Design and development of an application for entering and generating technical reports on technicians' interventions.</p>
        </div>
        
        <div>
          <h5>Software Developer</h5>
          <p>RADIALL</p>
          <p>Design and development of digital tools for purchasing, quality or production departments.</p>
        </div>
        
        <div>
          <h5>Software Developer</h5>
          <p>Tradefast</p>
          <p>Development of a stock market trend analysis tool.</p>
        </div>

        <div>
          <h5>Software Developer</h5>
          <p>Seoquantum</p>
          <p>Developing a client for their AI-assisted content generation API.</p>
        </div>

        <div>
          <h5>Software Development Trainer</h5>
          <p>CESI - 09/2023 - 08/2024</p>
          <p>I taught software development to students of the MAALSI master's degree and supported them in their individual projects.</p>
        </div>
      

        <h4>PROGRAMMING SKILLS</h4>
        <div>
          <h5>Software engineering & web development</h5>
          <ul>
            <li>JavaScript, Node.js</li>
            <li>Rust</li>
            <li>Python</li>
            <li>HTML & CSS</li>
            <li>Git, GitHub</li>
          </ul>
          <h5>Embedded programming</h5>
          <ul>
            <li>ESP-IDF</li>
            <li>Embassy</li>
          </ul>
        </div>
  
      </div>
    </div>
  </div>
  </section>
  